.score-board {
    .p-fieldset-content {
        padding-top: 0 !important;
        .score {
            border: 1px solid #dee2e6;
            border-radius: 6px;
            padding: 1.25rem;
            margin: 0.5rem;
            h4{
                margin: 0;
            }
            p{
                font-size: 12px;
            }
        }
    }
    .login{
        text-align: center;
        font-size: 20px;
        margin-top: 50px;

        span{
            text-decoration: underline;
            color: #2196F3;
            cursor: pointer;
        }
    }
    .p-progress-spinner{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        .p-progress-spinner-circle{
            stroke: #2196F3 !important;
        }
    }
}
